/* ==UserStyle==
@name           tv.seznam.cz
@namespace      mplicka.cz
@version        0.1.6
@description    More compact style
@author         Martin Plicka <mail@mplicka.cz> (https://mplicka.cz)
@updateURL      https://github.com/mthu/stylus/raw/master/tv.seznam.user.css
@homepageURL    https://github.com/mthu/stylus/
==/UserStyle== */

@-moz-document domain("tv.seznam.cz") {
    .cbs {
        display: block;
    }
    .cbs .t {
        text-align: unset;
        float: left;
        width: unset;
    }
    .cbs .t div button span:first-child {
        display: none;
    }
    .cbs .d {
        font-size: 18px;
    }
    .cbs img.i-d {
        width: 100%;
        margin: auto;
        border-radius: 0;
        height: unset;
    }
    .w-\[168px\] {
        width: unset;
    }
    .w-\[168px\] div.flex:nth-child(3) {
        display: none;
    }
    .bb a.l {
        display: inline;
    }
    .bb .l h5 {
        font-size: 18px;
        display: inline;
    }
    .io-sideline {
        display: none;
    }
    .bb ul.l .absolute {
        display: none;
    }
}
